<!DOCTYPE html>
<html>
<head>
	<title>game</title>
	<script data-main="js/main" src="js/lib/require.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<p id="playerId" hidden>{{id}}</p>
<p id="disconnectMessage" hidden>Disconnected from server. Please refresh.</p>
<canvas id="game"></canvas>
</body>
</html>